button.close {
    outline: 0px;
    font-size: large;
}

mat-form-field {
    width: 100%;
}

.modal-title {
    font-weight: 500;
    font-size: large;
}

.modal-backdrop {
    z-index: 1050 !important;
  }